.main{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*Caracteristiques communes*/
.titreMain, .navbar a, .dropbutton, .introduction, .titreMembres, .description {
    color: #f0f0f0;
}
.introduction, .description{
    font-size: 18px;
    text-align: justify;
}

.titreMain {
    text-align: left;
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 15px;
}

/*NAVIGATION BAR & DROPDOWN MENU*/
.navbar {
    overflow: hidden;

    /*centered*/
    /*float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);*/
}
.navbar a { /* "Home" & "Contact" */
    font-size: 20px;
    float: left;
    text-decoration: none;
    text-align: center;
    /*padding: 15px;*/ 
    margin-left: 20px; /*espacement entre les elements*/
}
.dropdown { /* "Portfolio" */
    float: left;
    overflow: hidden;
}
.dropdown .dropbutton {
    font-size: 20px;
    background-color: black;
    border: none;
    /*padding: 15px;*/    
    margin-left: 20px; /*espacement avec les elements*/
}
.navbar a:hover, .dropdown:hover .dropbutton,.dropdown-content a:hover{
    /* Souligne texte quand souris passe dessus */
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #c0c0c0;
    text-decoration-thickness: 1.2px;
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
}
.dropdown-content a {
    float: none;
    color: #f0f0f0;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
} 
.dropdown:hover .dropdown-content {display: block;}

/*INTRODUCTION*/
.introduction{
   /*margin-top: 5vw;
    margin-bottom: 6vw;
    margin-left: 1vw;
    margin-right: 20vw;*/

    margin-top: 8vw;
    margin-bottom: 8vw;
    margin-left: 12vw;
    margin-right: 12vw;
}

/*CONTACT*/
.titreMembres {
    font-size: 25px;
    text-align: center;
    margin-bottom: 60px;
}
.clearfix {
    overflow: auto;
    display: block;
}
.portrait {
    float: left;
    width: 50%;
}
.description {
    padding: 20px;
}